{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block headblock %}

 <link rel="stylesheet" type="text/css" href="{% static 'res.css' %}">
 <style>
 table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  caption {
      color:black;
      font-weight: bold;
      text-align: center;
      font-size: xx-large;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
</style>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container">
    <table border="1" align="center">
        <caption>Records of found people</caption>
        <tr>
            <th> Name</th>
            <th> Contact Number</th>
            <th> Location Found</th>
            <th> Contact of location found</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>
                {{x.name}}
            </td>
            <td>
                {{x.contact}}
            </td>
            <td>
                {{x.location}}
            </td>
            <td>
                {{x.foundContact}}
            </td>
        </tr>
        {% endfor %}        
    </table>
</div>
{% endblock %}



